{% extends 'base.html.twig' %}

{% block body %}

<h2>Bienvenue</h2>
<p>Vous pouvez générer votre devis en fonction des prestations ci-dessous :</p>

    <div>
        <input type="text" value=""placeholder="Votre prénom" id="firstName">
        <input type="text" value="" placeholder="Votre nom de famille" id="lastName">
        <div id="massageErreur"></div>
    </div>

    <div id="selectDiv">
        <select id="selectPerformances">

        </select>

    </div>
    <div id="displaySelectedOption"></div>
    <div id="buttonContainer"></div>
    <div id="estimate" class="estimate"></div>
    <button class="button" onclick="generateEstimate()">Générer le Devis</button>

{% endblock %}
