*{
    font-family: 'Red Hat Mono', monospace;
}

ul{
    list-style-type: none;
}

.selectDiv{
    display: flex;
    flex-direction: row;
}

.button{
   /* display: none;*/
}

.estimate{
    display: flex;
    flex-direction: column;
}