<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles/styles.css">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
<script type="text/javascript" >

    const estimateContainer = document.getElementById('estimate');

    const elSelect = document.getElementById('selectPerformances');
    const divDisplayer = document.getElementById('displaySelectedOption');

    let body = {
        "firstName":"",
        "lastName":"",
        "email":"kevinpellin521@gmail.com",
        "performancesId":[]
    }
    window.onload = function(){

        const url = '/performance';

        fetch(url, {
            mode:'no-cors'
        }).then((response )=> response.json()).then((data) => {

            for (let i=0; i<data.length; ++i){
                let option = document.createElement('option');
                option.setAttribute('value', data[i]['id']);
                option.setAttribute('id', data[i]['id']);
                option.setAttribute('class', 'option');
                option.innerHTML = data[i]['name']+" - "+data[i]['price']+" €";
                elSelect.appendChild(option);
            }

        });

        elSelect.addEventListener('change', function (event){
            let e = getEventTarget(event);
            const option = document.getElementById(this.value);
            const id = option.value;
            const display = document.createElement('p');
            display.innerHTML = option.innerText;
            divDisplayer.appendChild(display);
            body.performancesId.push(id);
        });

        function getEventTarget(e){
            return e.target;
        }
    }

    function generateEstimate() {
        if (checkForm()){
            console.log("c'est parti !!");
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/document', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() { //Appelle une fonction au changement d'état.
                if (this.readyState === XMLHttpRequest.DONE && (this.status === 201 || this.status === 200 )) {
                    let downloadButton = document.createElement('a');
                    downloadButton.setAttribute('href', JSON.parse(this.response)['path']);
                    downloadButton.setAttribute('download',JSON.parse(this.response)['name']);
                    downloadButton.innerText = "Télécharger "+JSON.parse(this.response)['name'];
                    estimateContainer.appendChild(downloadButton);
                    body.firstName = "";
                    body.lastName = "";
                    body.performancesId = [];
                    removeChildren(divDisplayer);
                } else if(this.readyState === XMLHttpRequest.DONE && (this.status === 401 || this.status === 403 )) {
                    const messageContainer = document.getElementById("massageErreur");
                    let message = document.createElement('p');
                    message.innerText = JSON.parse(this.response);
                    messageContainer.appendChild(message);
                    body.firstName = "";
                    body.lastName = "";
                    body.performancesId = [];
                }
            }
            xhr.send(JSON.stringify(body));
        }
    }

    function removeChildren(el){
        while (el.firstChild) {
            el.removeChild(el.lastChild);
        }
    }

    function checkForm(){
        let isOk;
        const firstName = document.getElementById('firstName').value;
        const lastName = document.getElementById('lastName').value;
        const messageContainer = document.getElementById("massageErreur");

        if (messageContainer.childElementCount >0){
            removeChildren(messageContainer);
        }

        if (firstName === ""||lastName===""||body.performancesId.length<=0){
            let message = document.createElement('p');
            message.innerText = "Renseignez : ";
            if (firstName === ""){
                message.innerText += "- votre prénom ";
            }

            if (lastName === ""){
                message.innerText +="- votre nom de famille "
            }

            if (body.performancesId.length<=0){
                message.innerText +="- une/des prestation(s) "
            }
            isOk = false
            messageContainer.appendChild(message);
        }else{
            body.firstName = firstName;
            body.lastName = lastName;
            isOk = true;
        }
        return isOk;
    }


    function generateViewOption(data){
        const selectDiv = document.getElementById('selectDiv');
        let display = document.createElement('p');
        display.innerHTML = data['name'] +" - "+ data['price'] + " €.";
        selectDiv.appendChild(display);
        return display.value;
    }

</script>
{% endblock %}
</body>
</html>