{% extends 'base.html.twig' %}
{% block body %}
<h2>Bonjour {{ document.owner.firstName }}.</h2>

<p>Vous avez fais une demande devis pour les prestations : </p>

<ul>

{% for performance in document.performances %}
    <li> {{ performance.name }} - {{ performance.price }} € </li>
{% endfor %}

</ul>

<p>Soit un prix totale de <strong>{{ globalPrice }} €</strong>.</p>

<style>


</style>

{% endblock %}